<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Авторизация</title>
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
  </head>
  <body>

  <div class="ldap-auth">
    {% if proxy_user %}
      Пользователь {{ proxy_user.username }} загеристрирован
      <a href="{% url 'accounts_ldap_logout' %}">выход</a>
    {% else %}
      <p class="info">Для получения доступа к сети Интернет введите Ваш логин/пароль</p>
      <form action="{% url 'accounts_ldap_auth' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
          <label for="{{ form.user_name.id_for_label }}">Логин</label>
          {{ form.user_name }}
        </div>

        <div>
            <label for="{{ form.password.id_for_label }}">Пароль</label>
            {{ form.password }}
        </div>

        <div class="control">
            <button type="submit">Авторизация</button>
        </div>
        {{ form.non_field_errors }}
     </form>
    {% endif %}
  </div>

  </body>
</html>
