{% extends "accounts_web/base.html" %}
{% load core %}


{% block auth_content %}
      {% if proxy_user %}
        <p class="text-center">
          Пользователь {{ proxy_user.username }} загеристрирован
          <br>
          <a href="{% url 'accounts_web_logout' %}">выход</a>
          {% if user_url %}
            <br>
            <a href="{{ user_url | safe }}">Перейти на запрошенный ресурс</a>
             <script>
                function redirect_to_user_url(url) {
                  window.location.href = url;
                }
                setTimeout(redirect_to_user_url, 10000, "{{ user_url | safe }}");
             </script>
          {% endif %}
        </p>
      {% else %}

        <p class="text-center">Для получения доступа к сети Интернет введите Ваш логин/пароль</p>

        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-group">
            <label for="{{ form.user_name.id_for_label }}" class="col-sm-3 control-label">Логин</label>
            <div class="col-sm-6">{{ form.user_name|add_class:'form-control' }}</div>
          </div>

          <div class="form-group">
              <label for="{{ form.password.id_for_label }}" class="col-sm-3 control-label">Пароль</label>
              <div class="col-sm-6">{{ form.password|add_class:'form-control' }}</div>
          </div>

          {% if form.non_field_errors %}
            <div class="form-group has-error">
              <div class="col-sm-offset-3 col-sm-9">
                <label class="control-label" for="inputError1">
                  {% for err in form.non_field_errors %}
                    {{ err }}
                  {% endfor %}
                </label>
              </div>
            </div>
          {% endif %}

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <button type="submit" class="btn btn-default">Авторизация</button>
            </div>
          </div>

        </form>
      {% endif %}
{% endblock %}
