body {
    padding-top: 70px;
}

.page-title {
    color: #999999;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: Helvetica,​Arial,​sans-serif;
}

.ldap-auth {

    position: fixed;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

}

.auth-border {
    border: solid 1px #CCCCCC;
    border-radius: 10px;
    padding: 10px;
}


.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}
