body {
    padding-top: 70px;
}

.page-title {
    color: #999999;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: Helvetica,​Arial,​sans-serif;
}

.ldap-auth {

    position: fixed;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;

}

.ldap-auth .info {
    text-align: center;
    margin-bottom: 20px;
}

.ldap-auth label {
    width: 60px;
}

.ldap-auth .control {
    text-align: center;
}
