{% extends "gui_admin/base.html" %}


{% block main_content %}

<div class="row">

  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}img/user.png" alt="...">
      <div class="caption">
        <h3 class="text-center">Users</h3>
      </div>
    </a>
  </div>

  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}img/group.png" alt="...">
      <div class="caption">
        <h3 class="text-center">Groups</h3>
      </div>
    </a>
  </div>

  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}img/net_if.png" alt="...">
      <div class="caption">
        <h3 class="text-center">Interfaces</h3>
      </div>
    </a>
  </div>

  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}img/filter_list.png" alt="...">
      <div class="caption">
        <h3 class="text-center">Classifiers</h3>
      </div>
    </a>
  </div>

  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}img/firewall.png" alt="...">
      <div class="caption">
        <h3 class="text-center">Rules</h3>
      </div>
    </a>
  </div>

  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}img/proxy.png" alt="...">
      <div class="caption">
        <h3 class="text-center">Proxy</h3>
      </div>
    </a>
  </div>

  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}img/stats.png" alt="...">
      <div class="caption">
        <h3 class="text-center">Statistics</h3>
      </div>
    </a>
  </div>

  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{STATIC_URL}}img/status.png" alt="...">
      <div class="caption">
        <h3 class="text-center">Sys status</h3>
      </div>
    </a>
  </div>

</div>


{% endblock %}
